Repository KevinBonnoron/pocketbase-react-hooks: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check, test

lefthook.yml:

pre-commit:
  commands:
    format:
      run: bun run format
      glob: "*.{ts,tsx,js,jsx,json,md}"
      stage_fixed: true
    lint:
      run: bun run lint
      glob: "*.{ts,tsx,js,jsx}"
    type-check:
      run: bun run type-check
      glob: "*.{ts,tsx}"
    test:
      run: bun run test
      glob: "*.{ts,tsx}"

pre-push:
  commands:
    build:
      run: bun run build
      glob: "*.{ts,tsx,js,jsx}"

1.0.0-rc.1
  package.json
Due: format

feat: initial commit
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .github/workflows/publish.yml
  .gitignore
  .npmignore
  README.md
  biome.json
  bun.lock
  examples/README.md
  examples/basic-usage.tsx
  lefthook.yml
  package.json
  src/context/PocketBaseContext.tsx
  src/context/index.ts
  src/hooks/index.ts
  src/hooks/useAuth.ts
  src/hooks/useCollection.ts
  src/hooks/useMutation.ts
  src/hooks/usePocketBase.ts
  src/hooks/useRecord.ts
  src/hooks/utils.ts
  src/index.ts
  src/providers/PocketbaseProvider.tsx
  src/providers/index.ts
  src/types/index.ts
  tests/context.test.tsx
  tests/hooks/useAuth.test.tsx
  tests/hooks/useCollection.test.tsx
  tests/hooks/useMutation.test.tsx
  tests/hooks/usePocketBase.test.tsx
  tests/hooks/useRecord.test.tsx
  tests/types.d.ts
  tsconfig.json
  vite.config.ts
Due: format, lint, type-check, test

1.0.0-rc.2
  package.json
Due: format

feat: initial commit
  .cursorrules
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .github/workflows/publish.yml
  .gitignore
  .npmignore
  .vscode/settings.json
  README.md
  biome.json
  bun.lock
  examples/README.md
  examples/basic-usage.tsx
  lefthook.yml
  package.json
  src/context/PocketBaseContext.tsx
  src/context/index.ts
  src/hooks/index.ts
  src/hooks/useAuth.ts
  src/hooks/useCollection.ts
  src/hooks/useMutation.ts
  src/hooks/usePocketBase.ts
  src/hooks/useRecord.ts
  src/index.ts
  src/lib/utils.ts
  src/providers/PocketbaseProvider.tsx
  src/providers/index.ts
  src/types/index.ts
  tests/context.test.tsx
  tests/hooks/useAuth.test.tsx
  tests/hooks/useCollection.test.tsx
  tests/hooks/useMutation.test.tsx
  tests/hooks/usePocketBase.test.tsx
  tests/hooks/useRecord.test.tsx
  tests/types.d.ts
  tsconfig.json
  vite.config.ts
Due: format, lint, type-check, test

1.0.0-rc.3
  package.json
Due: format

1.0.0-rc.4
  package.json
Due: format

1.0.0-rc.5
  package.json
Due: format

feat: initial commit
  .cursorrules
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .github/workflows/publish.yml
  .gitignore
  .npmignore
  .vscode/settings.json
  README.md
  biome.json
  bun.lock
  examples/README.md
  examples/basic-usage.tsx
  lefthook.yml
  package.json
  src/context/PocketbaseContext.tsx
  src/context/index.ts
  src/hooks/index.ts
  src/hooks/useAuth.ts
  src/hooks/useCollection.ts
  src/hooks/useMutation.ts
  src/hooks/usePocketbase.ts
  src/hooks/useRecord.ts
  src/index.ts
  src/lib/utils.ts
  src/providers/PocketbaseProvider.tsx
  src/providers/index.ts
  src/types/index.ts
  tests/context.test.tsx
  tests/hooks/useAuth.test.tsx
  tests/hooks/useCollection.test.tsx
  tests/hooks/useMutation.test.tsx
  tests/hooks/usePocketBase.test.tsx
  tests/hooks/useRecord.test.tsx
  tests/types.d.ts
  tsconfig.json
  vite.config.ts
Due: format, lint, type-check, test

1.0.0-rc.6
  package.json
Due: format

1.0.0-rc.7
  package.json
Due: format

1.0.0-rc.8
  package.json
Due: format

1.0.0-rc.9
  package.json
Due: format

1.0.0-rc.10
  package.json
Due: format

1.0.0-rc.11
  package.json
Due: format

1.0.0-rc.12
  package.json
Due: format

1.0.0-rc.13
  package.json
Due: format

1.0.0-rc.14
  package.json
Due: format

chore: bump version to 1.0.0-rc.15
  jsr.json
  package.json
Due: format

chore: bump version to 1.0.0-rc.16
  jsr.json
  package.json
Due: format

chore: bump version to 1.0.0-rc.17
  jsr.json
  package.json
Due: format

chore: bump version to 1.0.0-rc.18
  jsr.json
  package.json
Due: format

chore(useAuth): add missing test + reorganize
  tests/hooks/useAuth.test.tsx
Due: format, lint, type-check, test

feat(useAuth): add realtime option
  src/hooks/useAuth.ts
  src/types/useAuth.type.ts
  tests/hooks/useAuth.test.tsx
Due: format, lint, type-check, test

chore: exclude some paths from coverage
  vite.config.ts
Due: format, lint, type-check, test

feat(useAuth): allow to disable realtime in useAuth (#5)
  src/hooks/useAuth.ts
  src/types/useAuth.type.ts
  tests/hooks/useAuth.test.tsx
  vite.config.ts
Due: format, lint, type-check, test

chore: allow to release a stable version
  package.json
  scripts/version.js
Due: format, lint
